<!-- Services Section -->
<section id="services" class="services section light-background">
  <div class="container">
    <div class="row gy-4">
      {% for offre in offres %}
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item item-cyan position-relative text-center p-3 shadow rounded">
            <h3 class="mb-2">{{ offre.titre }}</h3>  <!-- Affiche le titre de l'offre -->
            <p class="mb-3">{{ offre.description }}</p>  <!-- Affiche la description de l'offre -->
            <a  href="{{ path('app_Candidates', { 'id_offre': offre.idOffre }) }}" class="postuler-btn">
              <span>Postuler</span>
            </a>
          </div>
        </div><!-- End Service Item -->
      {% else %}
        <p>Aucune offre disponible.</p>
      {% endfor %}
    </div>
  </div>
  
</section><!-- /Services Section -->
<style>

/* Style pour .postuler-btn qui ressemble à un bouton */
/* Style pour l'élément de service */
.service-item {
  display: flex;
  flex-direction: column;  /* Organise le contenu de la carte en colonne */
  justify-content: center; /* Centre le contenu verticalement */
  align-items: center;     /* Centre le contenu horizontalement */
  height: 100%;            /* Assure que la hauteur de la carte est 100% de l'espace disponible */
  text-align: center;
  padding: 3rem 1rem;      /* Vous pouvez ajuster la taille du padding */
}

/* Style pour le bouton "Postuler" */
.postuler-btn {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 14px;
  justify-content: center;
  line-height: 1em;
  max-width: 50%;
  min-width: 50px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.postuler-btn:active,
.postuler-btn:hover {
  outline: 0;
}

.postuler-btn span {
  background-color: rgb(5, 6, 45);
  padding: 8px 16px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.postuler-btn:hover span {
  background: none;
}

.postuler-btn:active {
  transform: scale(0.9);
}


</style>